:root {
	--primary: #4ecdc4;
	--secondary: #f5a623;
	--tertiaire: #ffe66d;
	--clair: #f7fff7;
	--sombre: #292f36;
	--text-light: #eee;
	--text-dark: #222;
	--card-radius: 12px;
	--gap: 10px;
}

body {
	margin: 0;
	font-family: "DM Serif Text", serif;
	background-color: var(--clair);
	color: var(--text-dark);
}

/* Header */
.site-header {
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}
button#theme-toggle {
	padding: 0.5rem 0.75rem;
	border-radius: 8px;
	/*Supprime la bordure par défaut*/
	border: none;
	background: var(--secondary);
	color: var(--text-light);
	/*La souris devient une main*/
	cursor: pointer;
}

main {
	display: flex;
	/*Espace entre les sections*/
	gap: var(--gap);
	padding: 16px;
}

/* Events */
.events-section {
	width: 50%;
}
.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	gap: 16px;
}
