:root {
	--primary: #4ecdc4;
	--secondary: #f5a623;
	--tertiaire: #ffe66d;
	--clair: #f7fff7;
	--sombre: #292f36;
	--text-light: #eee;
	--text-dark: #222;
	--card-radius: 12px;
	--gap: 10px;
}

body {
	margin: 0;
	font-family: "DM Serif Text", serif;
	background-color: var(--clair);
	color: var(--text-dark);
}

/* Header */
.site-header {
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}
button#theme-toggle {
	padding: 0.5rem 0.75rem;
	border-radius: 8px;
	/*Supprime la bordure par défaut*/
	border: none;
	background: var(--secondary);
	color: var(--text-light);
	/*La souris devient une main*/
	cursor: pointer;
}

main {
	display: flex;
	/*Espace entre les sections*/
	gap: var(--gap);
	padding: 16px;
}

/* Events */
.events-section {
	width: 50%;
}
.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	gap: 16px;
}
.card {
	padding: 16px;
	border-radius: var(--card-radius);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	color: var(--text-dark);
}

/*Boutons des card*/
.card-title {
	margin: 0;
}

/*Place les Btn cote a cote*/
.card-actions {
	display: flex;
	gap: 0.5rem;
}

.btn {
	background-color: var(--secondary);
	color: var(--text-light);
	padding: 0.5rem 0.7rem;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.btn-detail {
	background: var(--secondary);
	color: var(--clair);
}

.btn-fav {
	background-color: var(--primary);
	color: var(--clair);
}

/* Planning */
.planning-section {
	flex: 1;
	background: rgba(0, 0, 0, 0.05);
	padding: 1rem;
	border-radius: 8px;
}
/* Modal */
.modal {
	position: fixed;
	inset: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
/*Affiche la Modale*/
.modal.show {
	display: flex;
}
/*Fond de la Modale*/
.modal-backdrop {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.45);
}
/*Contenu de la Modale*/
.modal-content {
	position: relative;
	background: white;
	padding: 20px;
	border-radius: 10px;
	max-width: 720px;
	max-height: 80vh;
	overflow: auto;
	z-index: 1;
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	background: transparent;
	border: none;
	font-size: 21px;
	cursor: pointer;
}
/* Mode Sombre */

/*Body sombre*/
body.theme-sombre {
	background: var(--sombre);
	color: var(--text-light);
}
/*Header sombre*/
body.theme-sombre .site-header {
	background-color: var(--sombre);
}
/*Card sombre*/
body.theme-sombre .card {
	background: #2f3438;
	color: var(--text-light);
}
/*Planning sombre*/
body.theme-sombre .planning-section {
	background: rgba(255, 255, 255, 0.05);
}
/*Modale sombre*/
body.theme-sombre .modal-content {
	background: #222;
	color: var(--text-light);
}
/* Responsive */
@media (max-width: 800px) {
	main {
		flex-direction: column;
	}
}
